<?xml version="1.0"?>

<configuration>
	<configSections>
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="F1toPCO"
			connectionString="Server=7fa2480f-89c9-4e44-8522-a1c701674ed2.sqlserver.sequelizer.com;Database=F1toPCO;User ID=eulyykzmydpdawcj;Password=6y5V34GDQwsc4TC2UevnXrSTMXwndR3MPLy52Uypq5qJg3HmMRu6F2GNNjheEtA8" />
	</connectionStrings>
	<elmah>
		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="F1toPCO" />
		<security allowRemoteAccess="1" />
	</elmah>
	<appSettings>
		<add key="f1ConsumerKey" value="542"/>
		<add key="f1ConsumerSecret" value="9d6dbe75-6119-4f7b-87ac-bb10ac0e8da3"/>
		<add key="pcoConsumerKey" value="f1JRiQvQrQ7X7mVOGXHr"/>
		<add key="pcoConsumerSecret" value="iLPPuA0MAPiGOfHJodrtHSBocF50E0juvvUQ8LhS"/>		
	</appSettings>
	<system.web>
		<customErrors mode="On" defaultRedirect="Trouble">
		</customErrors>
		<sessionState mode="InProc" />

		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>

		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>

		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
			</namespaces>
		</pages>
	</system.web>

	<system.webServer>
		<handlers>
			<add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" preCondition="integratedMode" type="Elmah.ErrorLogPageFactory, Elmah"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
		</modules>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>

